
name: DevSecOps Pipeline

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read
  security-events: write

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
      # ==========================
      # 0. Checkout sécurisé
      # ==========================
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      # ==========================
      # 1. SAST – CodeQL
      # ==========================
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      # ==========================
      # 2. Analyse sécurité Python – Bandit
      # ==========================
      - name: Install Bandit
        run: |
          python -m pip install --upgrade pip
          pip install bandit

      - name: Run Bandit (High & Critical)
        run: bandit -r api -lll


    ############################################
    # Scan des dépendances Python
    ############################################
      - name: Install Safety
        run: pip install safety

      - name: Dependency vulnerability scan
        run: safety check -r api/requirements.txt

      # ==========================
      # 3. Scan secrets (Gitleaks)
      # ==========================
      - name: Gitleaks Secret Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          fail: true

      # ==========================
      # 4. Build Docker (sans push)
      # ==========================
      - name: Build Docker image
        run: docker build -t devsecops-api:latest .

      # ==========================
      # 5. Scan Docker Image – Trivy
      # ==========================
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: devsecops-api:latest
          severity: CRITICAL,HIGH
          exit-code: 1
          format: table
          ignore-unfixed: true
